# install torch with cuda
einops
pydot
pyvis
astor
networkx
triton
wandb
transformers
datasets
evaluate
accelerate
causal-conv1d
mamba-ssm
flash-attn
torchtune
git+https://github.com/chengjunyan1/lm-evaluation-harness.git
#git+https://YOUR_GITHUB_NAME:YOUR_GITHUB_TOKEN@github.com/allenai/exec_utils.git